﻿@using ProjectAmur.Models
@model ProjectAmur.Models.Category

@{
    ViewBag.Title = "Создание категории";
}



@*@using (Html.BeginForm())
    {*@
<script src="/Scripts/jquery-2.1.4.intellisense.js" type="text/javascript"></script>
<script src="/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="/Scripts/jquery.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="/Scripts/forAddAreaPrice.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/semantic-ui/semantic.min.css">
<script src="/semantic-ui/semantic.min.js"></script>

@using(Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">*@
    <hr />

    <div class="ui raised very padded text container segment">


        <table class="ui very basic collapsing celled table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Html.LabelFor(model=>model.Title, htmlAttributes: new
                    {
                        @class = ""
                    })
                </td>
                <td>
                    <div class="ui input">
                        @Html.ValidationSummary(true, "", new
                        {
                            @class = "text-danger"
                        })
                        @Html.EditorFor(model=>model.Title, new
                        {
                            htmlAttributes = new
                            {
                                @class = ""
                            }
                        })
                        @Html.ValidationMessageFor(model=>model.Title, "", new
                        {
                            @class = "text-danger"
                        })
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                    <div class="ui input">
                        <input type="checkbox" id="DiscountBool" name="DiscountBool" value="true" checked="checked"/>
                        <label style="color: #000;" for="DiscountBool">Скидка для блюд этой категории</label>
                    </div>
                </td>
            </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "" })
                    </td>
                    <td>
                        <div class="ui input">
                           
                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "" } })
                        </div>
                    </td>
                </tr>
        
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new
                   {
                       @class = "control-label col-md-2"
                   })
                    </td>
                    <td>
                        <div class="ui input">
                            @*@Html.EditorFor( m => m.ImageFile, new { htmlAttributes = new { @class = "form-control" } } )*@
                            @Html.TextBoxFor(m => m.ImageFile, new
                       {
                           @class = "form-control",
                           type = "file"
                       })
                            @Html.ValidationMessageFor(model => model.ImageFile, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </td>
                </tr>
            <tr>
                <td>
                    @Html.LabelFor(model=>model.Description, htmlAttributes: new
                    {
                        @class = "control-label col-md-2"
                    })
                </td>
                <td>
                    <div class="ui input">
                        @Html.TextAreaFor(model=>model.Description, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control"
                            }
                        })
                        @Html.ValidationMessageFor(model=>model.Description, "", new
                        {
                            @class = "text-danger"
                        })
                    </div>
                </td>
            </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.CategoryId)
                    </td>
                    <td>
                        <div class="ui input">
                                @Html.DropDownListFor(fod => fod.CategoryId, (SelectList)ViewBag.CategoryId, htmlAttributes: new { @class = "browser-default" }, optionLabel: "---")
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>

                    </td>
                </tr>
              
            </tbody>
        </table>
        @*</div>*@


        <a href="/../Categories/index" class="negative ui button"><i class="mdi-content-reply left"></i>Отмена</a> 
            <input type="submit" value="Создать" class="positive ui button"> 
    </div>


}
