﻿<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<script src="~/Scripts/linq.min.js"></script>

<div ng-app="app" ng-controller="MainCtrl">
    <a class="ui primary button" href="/Categories/Create">Создать</a>
    <hr />
    <div id="grid1" ui-grid="gridOptions" ui-grid-grouping class="grid"></div>
</div>



<script>
    var app = angular.module('app', ['ngAnimate', 'ngTouch', 'ui.grid', 'ui.grid.grouping']);

    app.controller('MainCtrl', ['$scope', '$http', '$interval', 'uiGridGroupingConstants', function ($scope, $http, $interval, uiGridGroupingConstants) {

        $scope.gridOptions = {
            columnDefs: [
              { field: 'Категория', displayName: 'Категория' },
                     { field: 'ПроцентСкидки', displayName: 'Процент скидки' },
              { field: 'Доход', displayName: 'Доход' },
              { field: 'РодительскаяКатегория', displayName: 'Родительская категория' },
            { field: 'Изображение', displayName: 'Изображение', cellTemplate: '<div class="ui-grid-cell-contents"><img  alt="изображения нет" ng-src=\"{{grid.getCellValue(row, col)}}\" lazy-src></div>' },
                { name: 'edit', displayName: '', cellTemplate: '<a href="Edit/{{grid.getCellValue(row, col)}}" >Изменить</a> ' }// cellTemplate: '<button id="editBtn" type="button" class="btn-small" ng-click="edit(row.entity)" >{{grid.appScope.f}}</button> ' }
            ]
        };

        $scope.f = "sdfsdf";
        $scope.myData = [];


        $http({
            url: '/api/AdminApi/GetCategories',//'projecamur.amoryakov.ru/api/AdminApi/GetFoods',
            method: "GET"
        }).success(function (data) { //Подулючаемся
            Enumerable.From(data).ForEach(function (el) {
                $scope.myData.push(
                    {
                        "Id": el.CategoryID,
                        "Категория": el.CategoryTitle,
                        "ПроцентСкидки": el.Discount,
                        "Доход": el.Income,
                        "РодительскаяКатегория": el.ParentCategory.CategoryTitle,
                        "Изображение": el.ImagePath,
                        "edit": el.CategoryID
                    }
                );
            });

            $scope.gridOptions.data = $scope.myData;
        });

    }]);
</script>