﻿@using ProjectAmur.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = null;
}
<script src="/Scripts/AngularJS/angular.min.js"></script>

                            <div ng-app="app" ng-controller="MainCtrl" class="loginbox">
                                <div class="login-screen">
                                    <div class="logintext">
                                        <link async href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
                                        <h1>Login</h1>
                                    </div>

                                    <div class="login-form">
                                        <div class="control-group">
                                            <input ng-model="Email" type="text" class="login-field" value="" placeholder="username" id="login-name">
                                            <label class="login-field-icon fui-user" for="login-name"></label>
                                        </div>
                                        <br>
                                        <div class="control-group">
                                            <input ng-model="Password" type="password" class="login-field" value="" placeholder="password" id="login-pass">
                                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                                        </div>
                                        <br>
                                        <div ng-click="Login()" class="btn btn-primary btn-large btn-block" id="button">Login</div>
                                    </div>
                                </div>
                            </div>
                            <div class="spinner circles" div id="s">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

<script>
    var app = angular.module('app', []);

    app.controller('MainCtrl', function ($scope, $http) {

        $scope.Email;
        $scope.Password;
        $scope.RemmemberMe;

        $scope.Login = function() {
            
            $http({
                url: '/Account/Auth',
                method: "POST",
                data: { Email: $scope.Email, Password: $scope.Password, RemmemberMe: false }
            }).success(function (data, status, headers, config) {
                if (data.Status == "AuthorizationSuccessful") {
                    localStorage["keyfs"] = data.Key;
                    post(document.location.origin + '/Manage/Index/', {});
                }
               
            }).error(function(data, status, headers, config) {
                post(document.location.origin + '/Manage/Index/', {});
            });
       

        }
    });

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

                        <style>
                            * {
                                box-sizing: border-box;
                            }

                                *:focus {
                                    outline: none;
                                }

                            body {
                                font-family: Arial;
                                background-color: none;
                                padding: 5px;
                            }

                            .loginbox {
                                margin: 1px auto;
                                width: 300px;
                                -webkit-box-sizing: content-box;
                                -moz-box-sizing: content-box;
                                box-sizing: content-box;
                                border: none;
                                font: normal 26px/1 "Lobster", Helvetica, sans-serif;
                                color: #0066FF;
                                text-align: center;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                text-shadow: 2px 2px 6px rgba(0,0,0,0.58);
                            }

                            .login-screen {
                                background-color: rgba(192,192,192,0);
                                padding: 20px;
                                border-radius: 11px;
                            }

                            .logintext {
                                text-align: center;
                                color: #004c00;
                            }

                            .login-form {
                                text-align: center;
                            }

                            .control-group {
                                margin-bottom: 10px;
                            }

                            input {
                                text-align: center;
                                background-color: rgba(255,255,255, 0);
                                border: 0px solid #004c00;
                                border-bottom: thin double rgba(34,255,0, 1);
                                border-radius: 3px;
                                font-size: 16px;
                                font-weight: 200;
                                padding: 10px 0;
                                width: 250px;
                                transition: border .5s;
                            }

                                input:focus {
                                    border-bottom: thin double #000;
                                    box-shadow: none;
                                }

                            .btn {
                                display: inline-block;
                                text-decoration: none;
                                -webkit-box-sizing: content-box;
                                -moz-box-sizing: content-box;
                                box-sizing: content-box;
                                width: 200px;
                                height: 25px;
                                cursor: pointer;
                                padding: 10px 20px;
                                border: 2px solid #ffffff;
                                -webkit-border-radius: 3px;
                                border-radius: 3px;
                                font: normal 16px/normal "Roboto", Helvetica, sans-serif;
                                color: rgba(0,0,0,1);
                                text-align: center;
                                -o-text-overflow: clip;
                                text-overflow: clip;
                                background: rgba(255,255,255,0.09);
                                -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
                                box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
                                -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                                -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                                -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                                transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                            }

                                .btn:hover {
                                    color: rgba(255,255,255,0.9);
                                    background: rgba(26,107,60,1);
                                }

                            .spinner {
                                display: none;
                                width: 100px;
                                height: 100px;
                                margin: 30px auto;
                                position: relative;
                                -webkit-animation: rotateit 1.3s linear infinite;
                                animation: rotateit 1.3s linear infinite;
                            }

                            @@-webkit-keyframes rotateit {
                                from {
                                    -webkit-transform: rotate(360deg);
                                }

                                to {
                                    -webkit-transform: rotate(0deg);
                                }
                            }

                            @@keyframes rotateit {
                                from {
                                    transform: rotate(360deg);
                                }

                                to {
                                    transform: rotate(0deg);
                                }
                            }

                            .spinner.circles div {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #001F4C;
                                position: absolute;
                                top: 35px;
                                left: 45px;
                            }

                                .spinner.circles div:nth-child(1) {
                                    -webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);
                                    transform: rotate(0deg) translate(0, -35px) scale(1.4);
                                }

                                .spinner.circles div:nth-child(2) {
                                    -webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);
                                    transform: rotate(45deg) translate(0, -35px) scale(1.2);
                                    opacity: 0.7;
                                }

                                .spinner.circles div:nth-child(3) {
                                    -webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);
                                    transform: rotate(90deg) translate(0, -35px) scale(1.1);
                                    opacity: 0.6;
                                }

                                .spinner.circles div:nth-child(4) {
                                    -webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);
                                    transform: rotate(135deg) translate(0, -35px) scale(0.9);
                                    opacity: 0.5;
                                }

                                .spinner.circles div:nth-child(5) {
                                    -webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);
                                    transform: rotate(180deg) translate(0, -35px) scale(0.7);
                                    opacity: 0.4;
                                }

                                .spinner.circles div:nth-child(6) {
                                    -webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);
                                    transform: rotate(225deg) translate(0, -35px) scale(0.5);
                                    opacity: 0.3;
                                }

                                .spinner.circles div:nth-child(7) {
                                    -webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);
                                    transform: rotate(270deg) translate(0, -35px) scale(0.3);
                                    opacity: 0.2;
                                }

                                .spinner.circles div:nth-child(8) {
                                    -webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);
                                    transform: rotate(315deg) translate(0, -35px) scale(0.1);
                                    opacity: 0.1;
                                }

                            body {
                                background-image: url("http://dinky.com.vn/wp-content/uploads/2014/08/blurry-wallpaper-35117-35921-hd-wallpapers.jpg");
                                background-repeat: no-repeat;
                                background-size: 100%, 100%;
                            }
                        </style>

                        <script>
                            // Saw this login pen: http://codepen.io/Tushkiz/pen/xqfsy and decided to re-make it a bit. Added a background and changed up the color scheme, spacing and the text. Learning to add an animation to the "go" to show success & error. Will edit as I go, as this is still a work in progress. If you have some tips or know where I can really learn to put in success and error messages on click, please let me know!

                            // Spinner made by following this tut: http://www.paulund.co.uk/css-loading-spinners

                            //****************The JS Below**********************


                            var button = document.getElementById('button');

                            button.onclick = function () {
                                var div = document.getElementById('s');
                                if (div.style.display !== 'none') {
                                    div.style.display = 'block';
                                }
                                else {
                                    div.style.display = 'block';
                                }
                            };
                        </script>