﻿@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@model ProjectAmur.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация официанта";
}


@using(Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="ui raised very padded text container segment">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <table class="ui very basic collapsing celled table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SurName, new { @class = "col-md-2 control-label" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.TextBoxFor(m => m.SurName, new
                       {
                           @class = "form-control"
                       })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @*</div>*@


        <a href="/../Manage/UserList" class="negative ui button"><i class="mdi-content-reply left"></i>Отмена</a>
        <input type="submit" value="Создать" class="positive ui button">
    </div>

}
