﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
   
        @*<!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="/Scripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>*@

    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Content/JqueryCSS/jquery-ui.js"></script>
    <script src="/Scripts/jquery-2.1.4.intellisense.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <link rel="stylesheet" type="text/css" href="~/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script src="/semantic-ui/semantic.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.cookie.js"></script> 
</head>
<body class="backCover" style="background-image: url(/Images/Const/1.jpg); height: 100%; -ms-background-size: cover; background-size: cover;">

    @Html.Partial("_LoginPartial")


 
        @RenderBody()
  
    
@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)


</body>
</html>
