﻿@using Microsoft.AspNet.Identity
@using ProjectAmur.Models

      @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
      {
          using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new
          {
              id = "logoutForm",
              @class = "navbar-right"
          }))
          {
              @Html.AntiForgeryToken()


              @*<div class="ui top demo sidebar ui segment push visible">
                  <div class="ui center aligned page grid">
                      <div class="one column row">
                          <div class="sixteen wide column">
                              <h3 class="ui header">New Content Awaits</h3>
                          </div>
                      </div>
                      <div class="three column divided row">
                          <div class="column">
                              @Html.ActionLink("Статистика", "Index", "Manage", routeValues: null, htmlAttributes: new
                         {
                             title = "Manage"
                         })
                          </div>
                          <div class="column">
                              @Html.ActionLink("Категории", "Index", "Categories")
                          </div>
                          <div class="column">
                              @Html.ActionLink("Столы", "Index", "Tables")
                          </div>
                          <div class="column">
                              @Html.ActionLink("Веса", "Index", "WeightNames")
                          </div>
                          <div class="column">
                              @Html.ActionLink("Валюта", "Index", "CurrencyNames")
                          </div>
                          <div class="column">
                              @Html.ActionLink("Пользователи", "UserList", "Manage")
                          </div>
                          <div class="column">
                              @Html.ActionLink("Управление продажами", "Index", "User")
                          </div>
                          <div class="column">
                           <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                          </div>
                      </div>
                  </div>
              </div>*@
            @*<div class="ui bottom demo inverted nine item labeled icon sidebar menu push visible">
                <a class="item">
                    <i class="home icon"></i>
                    Home
                </a>
                <a class="item">
                    <i class="block layout icon"></i>
                    Topics
                </a>
                <a class="item">
                    <i class="smile icon"></i>
                    Friends
                </a>
                <a class="item">
                    <i class="calendar icon"></i>
                    History
                </a>
                <a class="item">
                    <i class="mail icon"></i>
                    Messages
                </a>
                <a class="item">
                    <i class="chat icon"></i>
                    Discussions
                </a>
                <a class="item">
                    <i class="trophy icon"></i>
                    Achievements
                </a>
                <a class="item">
                    <i class="shop icon"></i>
                    Store
                </a>
                <a class="item">
                    <i class="settings icon"></i>
                    Settings
                </a>
            </div>*@
              // ui inverted labeled icon left inline vertical sidebar menu uncover visible @*ui top inverted nine item labeled icon sidebar menu push visible*@
              <div class="ui inverted secondary menu top nine item icon push visible">
                  <div class="item">
                      @Html.ActionLink("Статистика", "Index", "Manage", routeValues: null, htmlAttributes: new
                      {
                          title = "Manage"
                      })
                  </div>
                  <div class="item">
                      @Html.ActionLink("Категории", "Index", "Categories")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Блюда", "Index", "Foods")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Столы", "Index", "Tables")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Единицы веса", "Index", "WeightNames")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Валюта", "Index", "CurrencyNames")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Отделы", "Index", "Departments")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Пользователи", "UserList", "Manage")
                  </div>
                  <div class="item">
                      @Html.ActionLink("Управление продажами", "Index", "User")
                  </div>
                  <div class="item">
                     <a href="/Setting/Index">Настройки</a>
                  </div>
                  <div class="item">
                      <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                  </div>
              </div>
          }

      }
      else if (Request.IsAuthenticated && User.IsInRole("User"))
      {
          Response.Redirect("~/User/Index");
      }
      else
      {
          <ul class="right hide-on-med-and-down">
              @*<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new
                  {
                      id = "registerLink"
                  })</li>*@
              <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new
                  {
                      id = "loginLink"
                  })</li>
          </ul>
          <ul id="slide-out" class="side-nav">
              @*<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new
                  {
                      id = "registerLink"
                  })</li>*@
              <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new
                  {
                      id = "loginLink"
                  })</li>
          </ul>
      }