﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/semantic-ui/semantic.min.css">
    <script src="/semantic-ui/semantic.min.js"></script>
</head>
<body>
    
</body>
</html>