﻿@model ProjectAmur.Models.WeightName

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="ui raised very padded text container segment">
        <table class="ui very basic collapsing celled table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Prefix, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.EditorFor(model => model.Prefix, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "error" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @*</div>*@


        <a href="/../WeightNames/index" class="negative ui button"><i class="mdi-content-reply left"></i>Отмена</a>
        <input type="submit" value="Сохранить изменения" class="positive ui button">
    </div>
}

