﻿

#alerts {
  width: 500px;
  top: 30%;
  right: 50px;
  position: fixed;
  z-index: 9999;
    list-style:none;
}

.alert {
    width: 100%;
  margin-bottom: 8px;
  display:block;
  position:relative;
  border-left:4px solid;
  right:-50px;
    -ms-opacity:0;
    opacity:0;
  line-height:1;
  padding: 0;
    -webkit-transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
    -moz-transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
    -ms-transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
    -o-transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
    transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms; 
  display: table;
}

.alert:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.open {
    right:0;
    -ms-opacity:1;
    opacity:1;
    line-height: 2;
    padding: 10px 15px;
    -webkit-transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
    -moz-transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
    -ms-transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
    -o-transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
    transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
}

.alert-title {
  font-weight: bold;
}

.alert-block {
  width: 80%;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  text-align: left;
  em, small {
   font-size: .75em;
   opacity: .75;
  }
}

.alert i {
  font-size: 10em;
  width: 1.5em;
  max-height: 48px;
  top: 5%;
  margin-top: -12px;
  display: table-cell;
  vertical-align: middle;
  }
  

.alert-success {
  color: #fff;
  border-color: #539753;
  background-color: #8fbf2f;
}

.alert-error {
  color: #fff;
  border-color: #7f0709;
  background-color: #bf074b;
}

.alert-info {
  color: #fff;
  border-color: #076d91;
  background-color: #3397db;
}

.alert-warning {
  color: #fff;
  border-color: #dd6137;
  background-color: #f7931d;
}
