﻿@model Dictionary<String, ProjectAmur.Models.OrderCollection>
@{
    Layout = null;
}

//<div>

  @*//  @foreach (var item in Model)*@
   // {
        @*//<div class="form-group">*@
            @*Html.LabelFor(model => item.Value.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
           @*// <div class="col-md-10">
            //    <p>@item.Value.Title</p>*@
                @*@Html.EditorFor(model => item.Value.Title, new { htmlAttributes = new { @class = "form-control", @Name = String.Format("PriceSelectedWidths[{0}].PriceSelected", item.Key), @id = String.Format("PriceSelectedWidths_{0}__PriceSelected", item.Key), placeholder = String.Format("Например: {0}", new Random().Next(50, 500)) } })
                @Html.ValidationMessageFor(model => item.Value.Title, "", new { @class = "text-danger" })*@
         @*//   </div>
       // </div>
       // <div class="form-group">
          //  @Html.LabelFor(model => item.Value.Number, htmlAttributes: new { @class = "control-label col-md-2" })
           // <div class="col-md-10">
             //   @Html.EditorFor(model => item.Value.Number, new { htmlAttributes = new { @class = "form-control", @Name = String.Format("PriceSelectedWidths[{0}].Width", ///item.Key), @id = String.Format("PriceSelectedWidths_{0}__PriceSelected", item.Key) } })
           //     @Html.ValidationMessageFor(model => item.Value.Number, "", new { @class = "text-danger" })
           // </div>
       // </div>
    }*@

    @*@foreach (var item in Model)
    {
        Почему это не работает ???
        <div class="form-group">
            @Html.LabelFor(model => item.Value.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.Value.Title, new { htmlAttributes = new { @class = "form-control", @Name = $"PriceSelectedWidths[{item.Key}].PriceSelected", @id = $"PriceSelectedWidths_{item.Key}__PriceSelected", placeholder = $"Например: {new Random().Next(50, 500)}" } })
                @Html.ValidationMessageFor(model => item.Value.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => item.Value.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.Value.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.Value.Number, "", new { @class = "text-danger" })
            </div>
        </div>

    }*@




//</div>

//<br />
//<br />
//<hr />