﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    @*Есть баг. Когда много столов и нажимаем кнопку выход, система не успевает сделать бэкап для всех столов*@
    <meta charset="utf-8" />
    <title>Официант</title>

    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Content/JqueryCSS/jquery-ui.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <script src="/Scripts/jquery-2.1.4.intellisense.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/linq.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Scripts/localforage.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/AngularJS/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic-ui/semantic.min.css">
    <script src="/semantic-ui/semantic.min.js"></script>
    <script src="/Scripts/foodSalleScripts/alerts.js"></script>
    <link type="text/css" rel="stylesheet" href="/Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="/Content/fs/alerts.css" />
    <link type="text/css" rel="stylesheet" href="/Content/fs/paper.css" />
    <script src="/Scripts/fullscreen.js"></script>

    <script src="~/Scripts/localforage.js"></script>
    @*<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>*@
</head>
<body class="backCover" @*style="height: auto; background-image: url(/Images/Const/1.jpg); height: 100%; -ms-background-size: cover; background-size: cover;"*@>
    @*<script>
            $(function() {

                var pushHub = $.connection.orderPushHub;
                pushHub.client.push = function (message) {
                    Materialize.toast('Внимание! Поступил заказ.', 20000, 'rounded');
                    $("#resultAjax").append(message);
                };
                $.connection.hub.start();
            });
        </script>*@
    @*style="background-image: url(/Images/Const/1.jpg); height: 100%; -ms-background-size: cover; background-size: cover;"*@
    <div ng-app="myApp">
        <div id="resultAjax"></div>


        <div ng-controller="TableController">
            <div class="ui inverted secondary pointing menu">
                <a ng-repeat="tab in tables" ng-click="tabclick(tab)" class="ui menu item">
                    {{tab.Title}}
                    <p ng-show="foodTabNumber(tab.Id)>0" class="ui red circular label">{{foodTabNumber(tab.Id)}}</p>
                </a>
            </div>

            <div ng-controller="ModalWindow">
                @*Модальное окно - подтверждения печати чека*@
                <div class="ui dimmer modals page transition hidden">
                    <div class="ui small basic test modal transition hidden" style="margin-top: -118.5px;">
                        <div class="ui icon header">
                            <i class="archive icon"></i>
                            <b>{{forModal.messageForModal.Title}}</b>
                        </div>
                        <div class="content">
                            <p>{{forModal.messageForModal.Discript}}</p>
                        </div>
                        <div class="actions">
                            <div class="ui red basic cancel inverted button">
                                <i class="remove icon"></i>
                                Нет
                            </div>
                            <div ng-click="forModal.funcForModal()" class="ui green ok inverted button">
                                <i class="checkmark icon"></i>
                                Да
                            </div>
                        </div>
                    </div>
                </div>
                @*Модальное окно - подтверждения печати чека*@

                @*Модальное окно - ввод пароля*@
                @*<div class="ui dimmer modals page transition hidden">
                        <div  class="passmodal modalOneRun ui small basic test modal transition hidden" style="margin-top: -118.5px;">
                            <div class="ui icon header">
                                <i class="archive icon"></i>
                                <b>Введите пароль для получения доступа</b>
                            </div>
                            <div class="content">
                                <p></p>
                            </div>
                            <div class="ui input">
                                <input type="text" ng-model="Password" placeholder="Введите пароль">
                            </div>
                            <div class="actions">
                                <div @*ng-click="forModal.modalPassword()" class="positive, approve ok ui inverted button">Получить доступ</div>
                            </div>
                            </div>
                    </div>*@
                @*Модальное окно - ввод пароля*@



                <div ng-controller="OneController" class="row">
                    <div class="ui grid doubling eight column row">

                        @*Начало - список категорий, для каждого стола*@
                        <div class="left wide column">
                            <div class="ui vertical fluid tabular menu">
                                <a class="item {{::aClass}}" ng-repeat="category in Categories" id="categ_{{::category.Id}}" id="categ_{{::category.Id}}" data-tab="cat_{{::category.Id}}">
                                    {{::category.Title}}-{{orderLength()}}
                                    <p ng-show="foodCategorySum(category)>0" class="ui teal right corner label">
                                        {{foodCategorySum(category)}}

                                    </p>
                                </a>
                            </div>
                        </div>
                        @*Конец - cписок категорий, для каждого стола*@



                        <div class="left floated wide column" style="min-width: 56%">
                            <div ng-class="isFoodSelectedClass" on-last-repeat ng-repeat="category in Categories" @*style="min-height: 800px; -moz-min-width: 800px; -ms-min-width: 800px; -o-min-width: 800px; -webkit-min-width: 800px; min-width: 800px"*@ class="ui three column grid tab" data-tab="cat_{{::category.Id}}">
                                <div class="ui column" style="max-width: 250px; min-width: 250px;" ng-repeat="food in fodsFromCategory(category)">

                                    <div class="ui fluid card">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>{{food.FoodTitle}}</p>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <div ng-if="workDayOpen" class="ui icon buttons">
                                                            <div ng-click="numDown(food)" class="decrement ui basic red button">
                                                                <i class="minus icon"></i>
                                                            </div>
                                                            <div style="margin: 5px 5px 5px 8px">
                                                                <a class="{{numberStyle(food.Number) }}">{{food.Number}}</a>
                                                            </div>
                                                            <div ng-click="numUp(food)" class="increment ui basic green button">
                                                                <i class="plus icon"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div ng-if="food.Price.length>1" class="ui selection dropdown">
                                            <input type="hidden" @*value="162"{{DropDownChice(null, food)}}*@ id="inputid{{food.FoodId}}{{tab.Id}}id">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Выбирите цену</div>
                                            <div class="menu">
                                                <div ng-repeat="price in food.Price" ng-click="DropDownChice(price, food)" class="item" data-value="{{price.Id}}">{{ ::price.Price }} {{ ::price.CurrencyName.Prefix }} - {{ ::price.Width }} {{ ::price.WeightName.Prefix }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-show="isFoods && workDayOpen" class="right column floated" style="max-width: 450px; min-width: 400px">
                            <div class="ui column grid">
                                <div class="column">
                                    <div class="ui paper raised segment">

                                        <div ng-if="orderSum>0" style="display: inline-block">
                                            <div style="display: inline-block">
                                                <div onclick=" PrintInvoice('to_kitchen') " @*id="orderkitchen" id="orderSendBtn"*@ class="ui inverted green button">Чек на кухню</div>
                                            </div>
                                            <div style="display: inline-block">
                                                <div ng-click="buttons.functions.callModalPrint(table)" class="ui inverted green button">Распечатать чек</div>
                                            </div>
                                            <hr />
                                            <div style="display: inline-block" class="ui slider checkbox">
                                                <div style="display: inline-block">
                                                    <input ng-click="RefreshorderSum()" ng-model="isDiscount" ng-change="checkChacnge()" type="checkbox" id="Discount{{::tab.Id}}" />
                                                    <label style="color: #000;" for="Discount{{::tab.Id}}">Сделать скидку</label>
                                                </div>
                                                @*<div style="display: inline-block">
                                                        <input type="checkbox" id="ocrugl{{tab.Id}}" />
                                                        <label style="color: #000;" for="ocrugl{{tab.Id}}">Округлить</label>
                                                    </div>*@
                                            </div>
                                            <hr />
                                        </div>

                                        <div style="display: inline-block" class="ui slider checkbox">
                                            <div style="display: inline-block" class="ui input">
                                                <input type="text" ng-model="SpecialPrice" placeholder="Дополнительная услуга (стоимость)">
                                            </div>
                                            <div style="max-width: 85px; min-width: 85px; display: inline-block" class="ui selection dropdown">
                                                <input type="hidden" @*value="{{DropDownChice(null, food)}}"*@ name="dda{{::table.Id}}{{::food.Id}}">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Отдел</div>
                                                <div class="menu">
                                                    <div ng-repeat="depart in departments" ng-click="DropDownDepart(depart)" class="item" data-value="{{::depart.Id}}">{{ ::depart.Title }}</div>
                                                </div>
                                            </div>
                                            <button ng-click="AddSpecialPrice()" class="ui inverted green button">Добавить</button>
                                        </div>

                                        <hr />
                                        <a class="ui red ribbon label">Гостевой чек</a>
                                        <p></p>
                                        <table class="ui very basic table red">
                                            <tr>
                                                <th>
                                                    <p> Блюдо </p>
                                                </th>
                                                <th>
                                                    <p> Количество </p>
                                                </th>
                                                <th>
                                                </th>
                                                <th>
                                                    <p> Вес </p>
                                                </th>
                                                <th>
                                                    <p> Цена </p>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="food in getCloneFoods()" ng-if="food.Number>0">
                                                <td>{{::food.FoodTitle}}</td>
                                                <td>{{food.Number}}</td>
                                                <td></td>
                                                <td>{{WidthOfFood(food).Width}} {{::WidthOfFood(food).WeightName.Prefix}}</td>
                                                <td style="width: 80px;">{{FoodPriceMultiplyOnNumber(food)}} {{::currencyPrefix}}</td>

                                                <td style="width: 80px;">
                                                    <div style="display: inline-block" ng-show="food.Number>0" class="right column floated">
                                                        <i class="minus icon" ng-click="numDown(food)"></i> <i class="plus icon" ng-click="numUp(food)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <p></p>
                                        <a class="ui blue ribbon label">Итог к оплате</a>
                                        <p>{{orderSum}} {{::currencyPrefix}}</p>tab
                                        <div style="left: 100%; top: -1em;" class="circular floating ui red" ng-click="buttons.functions.callModdalClearOrder(table.Id)">
                                            <i style="left: 95%; top: -1em; position: absolute; background-color: #2185d0 !important;" class="circular large recycle icon red"></i>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            @*Чек для посетителя*@
                            <div ng-show="false" id='to_print{{::tab.Id}}' class="ui column grid">
                                <div class="column">
                                    <div class="ui raised segment">
                                        <p>ИП Гусев В.О</p>
                                        <a class="ui red ribbon label">Гостевой чек</a>
                                        <p></p>
                                        <table class="ui very basic table red">
                                            <tr>
                                                <th>
                                                    <p> Блюдо </p>
                                                </th>
                                                <th>
                                                    <p> Количество </p>
                                                </th>
                                                <th>
                                                    <p> Вес </p>
                                                </th>

                                            </tr>
                                            <tr ng-repeat="food in getCloneFoods()" ng-if="food.Number>0">
                                                <td>{{::food.FoodTitle}}</td>
                                                <td>{{food.Number}}</td>
                                                <td>{{WidthOfFood(food).Width}} {{::WidthOfFood(food).WeightName.Prefix}}</td>
                                                <td>
                                                    <div style="width: 70px; display: inline-block" ng-show="food.Number>0" class="right column floated">
                                                        <i class="minus icon" ng-click="numDown(food)"></i> <i class="plus icon" ng-click="numUp(food)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <p></p>
                                        <a class="ui blue ribbon label">Итог к оплате</a>
                                        <p>{{orderSum}} {{::currencyPrefix}}</p>
                                        <p>Приходите к нам ещё, мы всегда рады Вам!</p>
                                    </div>
                                </div>
                            </div>
                            @*Чек для посетителя*@

                            @*Чек для повара*@
                            <div ng-show="false" id='to_kitchen' class="ui column grid">
                                <div class="column">
                                    <div class="ui raised segment">
                                        <p>ИП Гусев В.О</p>
                                        <table>
                                            <tr>
                                                <th>
                                                    Блюдо
                                                    <p> </p>
                                                </th>
                                                <th>
                                                    Количество
                                                    <p> </p>
                                                </th>
                                                <th>
                                                    Вес
                                                    <p> </p>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="food in getCloneFoods()" ng-if="food.Number>0">
                                                <td>{{::food.FoodTitle}}</td>
                                                <td>{{food.Number}}</td>
                                                <td>{{::WidthOfFood(food).Width}} {{::WidthOfFood(food).WeightName.Prefix}}</td>
                                            </tr>
                                        </table>
                                        <p>Приходите к нам ещё, мы всегда рады Вам!</p>
                                    </div>

                                </div>
                            </div>
                            @*Чек для повара*@

                            @*Сменный отчет*@
                            <div ng-show="false" id='printSum' class="ui column grid">
                                <table>
                                    <tr>
                                        <th>
                                            <p> Выручка на текущий момент, стол {{::tab.Title}}</p>
                                            <p></p>
                                        </th>
                                        <th>
                                            <p>Выручка </p>
                                            <p></p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{currentWorkDaySum}}</td>
                                    </tr>
                                </table>

                            </div>
                            @*Сменный отчет*@
                        </div>

                        <div style="width: 30px; min-width: 30px;" class="column">
                        </div>
                    </div>
                </div>



                @*Нижнее меню*@

                <div class="ui secondary pointing bottom icon menu overlay visible">
                    @*class="ui inverted secondary pointing menu">*@
                    <a class="item">
                        <div ng-click="buttons.functions.callModdalWorkDayOut()" class="{{buttons.classes.workDayOut}}">
                            <i class="upload icon"></i>{{buttons.titles.workDayOut}}
                        </div>
                    </a>
                    @*<a class="item">
                            <div ng-click="buttons.functions.callModdalLogOut()" class="ui inverted button">
                                <i class="privacy icon"></i>Выйти
                            </div>
                        </a>*@
                    <a class="item">
                        <div ng-click="buttons.functions.callModdalPrintWorkDaySum(tab.Id)" class="ui inverted button">
                            <i class="privacy icon"></i>Сменный отчет
                        </div>
                    </a>
                    <a class="item">
                        <div ng-click="fullScreen()" class="ui inverted button">
                            <i class="maximize icon"></i>На весь экран
                        </div>

                    </a>
                </div>

                @*<div class="ui bottom inverted nine item labeled icon sidebar menu overlay animating visible">
                        <a class="item">
                            <div ng-show="worDayOpen" ng-click="functionsForButton.callModdalWorkDayOut()" class="ui inverted red button">
                                <i class="upload icon"></i>Закрыть смену
                            </div>
                        </a>
                        <a class="item">
                            <div ng-show="worDayOpen" ng-click="functionsForButton.callModdalLogOut()" class="ui inverted button">
                                <i class="privacy icon"></i>Выйти
                            </div>
                        </a>
                        <a ng-click="fullScreen()" class="item">
                            <i class="maximize icon"></i>
                            На весь экран

                        </a>
                    </div>*@
                @*Нижнее меню*@
            </div>
        </div>
    </div>


    <script>
        //function exit(status) {

        //    var i;

        //    if (typeof status === 'string') {
        //        alert(status);
        //    }

        //    window.addEventListener('error', function (e) { e.preventDefault(); e.stopPropagation(); }, false);

        //    var handlers = [
        //        'copy', 'cut', 'paste',
        //        'beforeunload', 'blur', 'change', 'click', 'contextmenu', 'dblclick', 'focus', 'keydown', 'keypress', 'keyup', 'mousedown', 'mousemove', 'mouseout', 'mouseover', 'mouseup', 'resize', 'scroll',
        //        'DOMNodeInserted', 'DOMNodeRemoved', 'DOMNodeRemovedFromDocument', 'DOMNodeInsertedIntoDocument', 'DOMAttrModified', 'DOMCharacterDataModified', 'DOMElementNameChanged', 'DOMAttributeNameChanged', 'DOMActivate', 'DOMFocusIn', 'DOMFocusOut', 'online', 'offline', 'textInput',
        //        'abort', 'close', 'dragdrop', 'load', 'paint', 'reset', 'select', 'submit', 'unload'
        //    ];

        //    function stopPropagation(e) {
        //        e.stopPropagation();
        //        // e.preventDefault(); // Stop for the form controls, etc., too?
        //    }
        //    for (i = 0; i < handlers.length; i++) {
        //        window.addEventListener(handlers[i], function (e) { stopPropagation(e); }, true);
        //    }

        //    if (window.stop) {
        //        window.stop();
        //    }

        //    throw '';
        //}
        var order;

        function removeLocalForage(name) {

            //i = 0;
            //localforage.keys(function (err, keys) {
            //    for (; i < keys.length; i++) {
            //        var ind = Enumerable.From(keys[i]).IndexOf('k');
            //        if  (ind > -1)
            //            localforage.removeItem(keys[i]);
            //    }
            //});


            localforage.clear(function (err) {

            });

        }

        $("#menu").click(function () {

        });

        function numberCrop(num, x) {
            var s = num + '', a = s.split('.');
            a[1] = a[1] || '';
            return parseFloat(a[0] + '.' + a[1].substring(0, x));
        };

        function PrintInvoice(toprint) {
            var printing_css = '<style media=print>tr:nth-child(even) td{background: #f0f0f0;}</style>';
            var html_to_print = printing_css + $('#' + toprint).html();
            var iframe = $('<iframe id="print_frame">');
            $('body').append(iframe);
            var doc = $('#print_frame')[0].contentDocument || $('#print_frame')[0].contentWindow.document;
            var win = $('#print_frame')[0].contentWindow || $('#print_frame')[0];
            doc.getElementsByTagName('body')[0].innerHTML = html_to_print;
            win.print();
            $('iframe').remove();
        }


        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        var key;
        var password = "";
        var userId = "";
    </script>

    <script>
        var myApp = angular.module('myApp', []);
        //Контроллер для работы с модальным окном
        var fullscreenFlag = false;
        myApp.controller('ModalWindow', function ($scope, $http) {

            $scope.fullScreen = function () {
                if (!fullscreenFlag) {
                    if (screenfull.enabled) {
                        fullscreenFlag = true;
                        screenfull.request();
                    }
                } else {
                    fullscreenFlag = false;
                    screenfull.exit();
                }
            }
            var tableId;
            $scope.Password = "";
            $scope.forModal = {
                funcForModal: function () { }, //Эту функцию выполняет модальное окно
                messageForModal: {}, //Эти данные отображает модальное окно
            };

            var modal = {
                setFuncForModal: {
                    workDayOutFunc: function () { //Закрытие смены
                        var thisDate = new Date().getDate();
                        var thisMonth = new Date().getMonth();
                        var thisYear = new Date().getFullYear();

                        localStorage.removeItem("keyfs");
                        removeLocalForage("backupOrder");

                        $http({
                            url: '/api/FsApi/WorkDayOut',
                            method: "POST",
                            data: { Key: key, User: userId }
                        }).success(function (data, status, headers, config) {
                            if (data === "close") {
                                localStorage["fsworkDay"] = false;
                                localStorage.removeItem("keyfs");
                                Alert.success('Внимание', "Смена закрыта", { displayDuration: 0, pos: 'down' });
                                post(document.location.origin + '/Account/LogOut/', {});
                                //  window.location.href = ;
                            } else {
                                localStorage["fswo" + new Date().getHours()] =
                                    "{\"Key\":" + "\"" + key + "\"" + ",\"User\":" + "\"" + userId + "\"" + "," +
                                    "\"Date\":" + thisDate + "." + thisMonth + "." + thisYear + "," + "\"Time\":" + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds() + "}";
                                post(document.location.origin + '/Account/LogOut/', {});

                            }
                        }).error(function (data, status, headers, config) {
                            localStorage["fswo" + new Date().getHours()] =
                                "{\"Key\":" + "\"" + key + "\"" + ",\"User\":" + "\"" + userId + "\"" + "," +
                                "\"Date\":" + "\"" + thisDate + "." + thisMonth + "." + thisYear + "\"" + "," + "\"Time\":" + "\"" + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds() + "\"" + "}";
                            var er = localStorage["fswo-" + new Date().getHours()];
                            post(document.location.origin + '/Account/LogOut/', {});
                        });
                    },

                    prinInvoiceFunc: function () { //Отправка заказа, заказ в другом контролле, соответсвенно реализация там же
                        $scope.$broadcast('eventOrderSend', tableId); // идет вниз!
                    },

                    LogOut: function () { //Выход из учетной записи (реализация не сдесь, т.к. при выходе сохраняем состояния блюд)
                        $scope.$broadcast('eventLogOut', tableId); // идет вниз!
                    },

                    orderClear: function () { //Выход из учетной записи (реализация не сдесь, т.к. при выходе сохраняем состояния блюд)
                        $scope.$broadcast('eventOrderClear', tableId); // идет вниз!
                    },

                    workDayIn: function () {
                        $scope.buttons.titles.workDayOut = "Закрыть смену";
                        $scope.buttons.classes.workDayOut = "ui inverted red button";
                        $scope.$emit('eventWorkDayOpen', true);
                        localStorage["fsworkDay"] = true;
                        $scope.workDayOpen = true;//Говорим, что смена открыта, разблокируем некоторые элементы интерфейса
                    },
                    WorkDaySum: function () {
                        $scope.$broadcast('eventWorkDaySum', tableId); // идет вниз!
                    }

                },
                SetMessForModal: {
                    workDayOut: {
                        Title: "Завершить сеанс ?",
                        Discript: "Нажмите \"Да\", если да"
                    },
                    orderClear: {
                        Title: "Очистить чек ?",
                        Discript: "Чек для выбранного стола будет очещен!"
                    },
                    printOrder: {
                        Title: "Вы хотите рассчитать гостя ? ",
                        Discript: "При расчёте гостя чек уйдет в печать и стол будет снова готов к работе"
                    },
                    LogOut: {
                        Title: "Выйти из системы ?",
                        Discript: "Будет произведен выход из системы, данные потеряны не будут, смена не закроется. После повторного входа, все чеки вернуться в прежнее состояние!"
                    },
                    passwordModal: {
                        Title: "Введите пароль для получения доступа",
                        Discript: ""
                    },
                    passwordModalErr: {
                        Title: "Введите пароль для получения доступа",
                        Discript: "Неверный пароль"
                    },
                    workDayIn: {
                        Title: "Открыть смену ?",
                        Discript: "Вы сможете обслуживать посетителей и после завершения работы закрыть смену"
                    },
                    WorkDaySum: {
                        Title: "Распечатать сменный отчет",
                        Discript: "Будет распечатан чек"
                    }
                }
            };
            //$scope.$emit('eventKeyEnterSuccess', true);
            //$('.modalOneRun').modal({
            //    closable: false,
            //    onApprove: function () {
            //        $http({
            //            url: "/api/FsApi/Password",
            //            method: "GET",
            //            params: { Password: $scope.Password }
            //        }).success(function (data) { //Результат проверки пароля
            //            if (data === true) {
            //                password = $scope.Password;
            //                $scope.$emit('eventKeyEnterSuccess', true); // идет вверх[!
            //                return true;
            //            } else {
            //                return false;
            //            }
            //        }).error(function (data, status, headers, config) {
            //            $scope.forModal.messageForModal = modal.SetMessForModal.passwordModalErr;

            //        });
            //    }
            //}).modal('show');


            $scope.buttons = {//functionsForButton = {
                //Методы для кнопкок
                functions: {
                    callModdalWorkDayOut: function () { //Вызываем по кнопке выхода из системы ( появляется модальное окно, с которого уже и выйдим)
                        if ($scope.workDayOpen) {
                            $scope.forModal.funcForModal = modal.setFuncForModal.workDayOutFunc;
                            $scope.forModal.messageForModal = modal.SetMessForModal.workDayOut;
                            $('.modal').modal('show');
                        } else {
                            $scope.forModal.funcForModal = modal.setFuncForModal.workDayIn;
                            $scope.forModal.messageForModal = modal.SetMessForModal.workDayIn;
                            $('.modal').modal('show');
                        }
                    },

                    callModalPrint: function (table) { //Вызывается по нажатию на кнопку печати чека
                        tableId = table;
                        $scope.forModal.funcForModal = modal.setFuncForModal.prinInvoiceFunc;
                        $scope.forModal.messageForModal = modal.SetMessForModal.printOrder;
                        $('.modal').modal('show');
                    },

                    callModdalLogOut: function () {
                        $scope.forModal.funcForModal = modal.setFuncForModal.LogOut;
                        $scope.forModal.messageForModal = modal.SetMessForModal.LogOut;
                        $('.modal').modal('show');
                    },

                    callModdalClearOrder: function (table) {
                        tableId = table;
                        $scope.forModal.funcForModal = modal.setFuncForModal.orderClear;
                        $scope.forModal.messageForModal = modal.SetMessForModal.orderClear;
                        $('.modal').modal('show');
                    },
                    callModdalPrintWorkDaySum: function (table) {
                        tableId = table;
                        $scope.forModal.funcForModal = modal.setFuncForModal.WorkDaySum;
                        $scope.forModal.messageForModal = modal.SetMessForModal.WorkDaySum;
                        $('.modal').modal('show');
                    }
                },
                titles: {
                    workDayOut: "Открыть смену"
                },
                classes: {
                    workDayOut: "ui inverted green button"
                }
            };
        });

        var globalFoods;
        var summOrder = 0;
        var myApp = angular.module('myApp');
        var getAllFoods = function () {
            if (typeof $scope.Categories != "undefined") {
                var reslt = Enumerable.From($scope.Categories).Select(function (item) { return item.Foods }).ToArray();
            }
            return reslt;
        };
        myApp.directive('onLastRepeat', function () {
            return function (scope) {
                if (scope.$last)
                    setTimeout(function () {
                        $('.menu .item').tab();
                        $('.tabular.menu .item').tab();
                        $('.ui.dropdown').dropdown();
                    }, 1);
            };
        })
            .controller('TableController', function ($scope, $http) {

                $http({
                    url: "/api/FsApi/GetTables",
                    method: "POST",
                    data: { Key: localStorage["keyfs"] }
                }).success(function (data) { //Возвращаем список столов
                    if (typeof data != "undefined") {
                        $scope.tables = data; //Столы
                    }

                    $http({
                        url: "/api/AdminApi/GetDepartments",
                        method: "GET"
                    }).success(function (data) { //Возвращаем список столов
                        if (typeof data != "undefined") {
                            $scope.departments = data; //Столы
                        }
                    });
                });
                $scope.$on('eventWorkDayOpen', function (event, data) {
                    //if (data === true) {//Если пароль верен. То загружаем данные

                    $http({
                        url: '/api/FsApi/WorkDayIn',
                        method: "POST",
                        data: { Key: localStorage["keyfs"] } //Отправляем и пытаемся подключиться
                    }).success(function (data) { //Подулючаемся
                        if (data.Status === "WDOpen") { //Подключились
                            // localStorage["keyfs"] = data.Key; //Запоминаем ключ

                            key = localStorage["keyfs"];
                            $scope.$broadcast('eventWorkOpen', $scope.tables[0]); // идет вниз!
                            //Alert.success('Вход произведен', localStorage["keyfs"], { displayDuration: 5000, pos: 'top' });

                        } else {
                            post(document.location.origin + '/Account/LogOut/', {});
                        }
                    });
                    //}
                });
                $scope.foodTabNumber = function (tab) {
                    var r = Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == tab && ord.Clone == true }).Select("$.Number").Sum();
                    return r;
                }
                $scope.tabclick = function (tab) {
                    $scope.$broadcast('tabclickevent', tab); // идет вниз!
                }
            }).controller('OneController', function ($scope, $http) {

                //});
                $scope.isFoods = false;
                $scope.departmentId;
                $scope.isDiscount = false;
                $scope.aClass = "";
                $scope.isDiscount = false;
                $scope.AllFoods = [];
                $scope.table; //Задаетсяф ИД стола при инициализации скопа
                $scope.orderSum = 0;
                $scope.SpecialPrice;
                $scope.numberStyle = function (number) {
                    if (number > 0) {
                        return "ui red circular label"
                    } else {
                        return "ui teal circular label"
                    }
                };

                $scope.DropDownDepart = function (depart) {
                    $scope.departmentId = depart.Id;
                }

                $scope.Collection;
                var refreshOrAdd = function (food) {

                    if (food.Price.length == 1) {
                        food.Clone = true;
                    }

                    var clones = Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where(function (el) { return el.Clone === true && el.FoodId === food.FoodId && el.PriceWidthsKey == food.PriceWidthsKey }).Except($scope.exclusionOrds, function (ord) { return ord.FoodId }).ToArray()[0]; //.Select("$.FoodId").IndexOf(food.FoodId);
                    var i = Enumerable.From(order).IndexOf(clones); //Enumerable.From(clones).Where(function (el) { return el.PriceWidthsKey === food.PriceWidthsKey }).ToArray();

                    if (i > -1) {
                        order[i].Number = food.Number; //food.Number; //Если такой объект уже есть, то обновляем
                        order[i].Discount = $scope.isDiscount; //Если такой объект уже есть, то обновляем
                        order[i].PriceSelected = $scope.PriceOfFood(food);
                        $scope.RefreshorderSum(); //
                    }

                };

                $scope.$on('tabclickevent', function (event, tab) {
                    $scope.table = tab;
                });
                $scope.$on('eventWorkOpen', function (event, tabziro) {
                    $scope.table = tabziro;
                    $scope.isFoods = true;
                    localforage.getItem('backupOrder' + $scope.table, function (err, val) {
                        if (typeof order == "undefined") {
                            if (val != null) {
                                var data = val;
                                order = data.Data;
                                $scope.currencyPrefix = order[0].Price[0].CurrencyName.Prefix;
                                userId = data.User;
                                $scope.Categories = Enumerable.From(order).Select("$.Category").Distinct("$.Id").ToArray();
                                //// Alert.success('Блюда загружен для стола ' + tab.Title, "Выберите стол", { displayDuration: 5000, pos: 'up' });
                            }
                            else
                                $http({
                                    url: '/api/FsApi/GetCategoriesAndFoods',
                                    method: "POST",
                                    data: { Key: localStorage["keyfs"] } //Отправляем и пытаемся подключиться
                                }).success(function (data) { //Подулючаемся
                                    if (typeof data !== "undefined") {
                                        if (typeof order === "undefined") {
                                            order = data.Data;
                                            Enumerable.From(order).ForEach(function (el) { el.Clone = false; });
                                        }


                                        $scope.currencyPrefix = data.Data[0].Price[0].CurrencyName.Prefix;
                                        userId = data.User;
                                        $scope.Categories = Enumerable.From(data.Data).Select("$.Category").Distinct("$.Id").ToArray();
                                        ////  Alert.success('Блюда загружен для стола ' + tab.Title, "Выберите стол", { displayDuration: 0, pos: 'up' });
                                    }
                                });
                        }
                    });
                });

                $scope.$on('eventLogOut', function (event, data) { //Произошло нажатие закрытия смены
                    localforage.setItem('backupOrder' + $scope.table.Id, { User: userId, Data: order });
                    post(document.location.origin + '/Account/LogOut/', {});
                });

                $scope.currentWorkDaySum = 0;
                $scope.$on('eventWorkDaySum', function (event, data) { //Слушаем нажатие кнопки на модальном окне и отправляем заказ а сервер
                    // $scope.isFoods = false;
                    //if ($scope.table === data) {

                    //    $http({
                    //        url: '/api/FsApi/GetCurrentWorkDaySum',
                    //        method: "POST",
                    //        data: { Key: key, TableId: $scope.table.Id, User: userId }
                    //    }).success(function (data, status, headers, config) {
                    //        $scope.currentWorkDaySum = data;
                    //        PrintInvoice('printSum');
                    //    }).error(function (data, status, headers, config) {

                    //    });


                    //}

                    // $scope.currentWorkDaySum = data;
                    PrintInvoice('printSum');
                });
                $scope.$on('eventOrderClear', function (event, data) { //Слушаем нажатие кнопки на модальном окне и отправляем заказ а сервер
                    if ($scope.table.Id === data) {
                        $scope.orderClear();
                    }
                });

                $scope.$on('eventOrderSend', function (event, data) { //Слушаем нажатие кнопки на модальном окне и отправляем заказ а сервер
                    if ($scope.table === data) {
                        var thisDate = new Date().getDate();
                        var thisMonth = new Date().getMonth();
                        var thisYear = new Date().getFullYear();
                        $scope.currentWorkDaySum += $scope.orderSum;
                        $http({
                            url: '/api/FsApi/PostOrder',
                            method: "POST",
                            data: { Key: key, TableId: $scope.table.Id, User: userId, Data: Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where("$.Number>0").ToArray() }
                        }).success(function (data, status, headers, config) {
                            alert("Заказ сохранен, подтвердите печать!");
                            Alert.success('Отправлено на печать', "Чек для посетителя будет распечатан", { displayDuration: 0, pos: 'top' });
                            PrintInvoice('to_print');
                            $scope.orderClear();
                            $scope.orderSum = 0;
                        }).error(function (data, status, headers, config) {

                            localStorage["fsos-" + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds()] = "{ \"Key\":" + "\"" + key + "\"" + ",\"User\":" + "\"" + userId + "\"" + ",\"TableId\":" + $scope.table + ",\"Data\":" + JSON.stringify(Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where("$.Number>0").ToArray()) + ",\"Date\":" + "\"" + thisDate + "." + thisMonth + "." + thisYear + "\"" + ",\"Time\":" + "\"" + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds() + "\"" + "}"; //Пишим КУКИ
                            Alert.error('Связь с сервером потеряна', "Результат будет сохранен, после возобновления соединения. Данные сохранены!", { displayDuration: 0, pos: 'top' });
                            PrintInvoice('to_print' + $scope.table.Id);
                            $scope.orderClear(); $scope.orderSum = 0;
                        });
                    }
                });
                var selectedFoodID;
                $scope.checkChacnge = function () {
                    if ($scope.isDiscount === true) {
                        $scope.isDiscount = false;
                    } else {
                        $scope.isDiscount = true;
                    }
                    $scope.RefreshorderSum();
                }

                $scope.NumberFoodNumber = function () {
                    return Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where("$.Number>0").ToArray().length;
                }

                $scope.FoodPriceMultiplyOnNumber = function (food) {
                    var reslt;
                    if (food.Number > 0){
                        reslt = numberCrop($scope.PriceOfFood(food) * food.Number, 0);
                    }
                    $scope.RefreshorderSum();
                    return reslt;
                }

                $scope.exclusionOrds = [];

                $scope.WidthOfFood = function (food) {
                    if (typeof food.Price !== "undefined") {
                        var pr = Enumerable.From(food.Price).Where(function (price) { return price.Id == food.PriceWidthsKey; }).ToArray();
                        return pr[0];
                    }
                };

                $scope.AddSpecialPrice = function () {
                    order.push({
                        PriceWidthsKey: 999999,
                        Price: [{ Actual: true, Price: $scope.SpecialPrice, Id: 999999 }],
                        FoodId: -1,
                        FoodTitle: "Спец. услуга",
                        Number: 1,
                        Clone: true,
                        DiscountSize: 0,
                        Department: $scope.departmentId,
                        table: $scope.table.Id
                    });
                };

                $scope.PriceOfFood = function (food, flag) { //Получаем блюдо
                    //   if (food.Number > 0) { //Заказываемое количество
                    var priceActualFood;
                    if (typeof flag == "undefined" || flag == false) {//то просто возвращаем цену
                        priceActualFood = Enumerable.From(food.Price).Where(function (price) { //У блюда несколько цен, перечисляем их
                            return price.Id == food.PriceWidthsKey;
                        }) //Находим блюдо, у которого цена == цене выбранного блюда
                            .Select(function (pr) {
                                return pr.Price;
                            }).ToArray()[0]; //Создаем список цен и выбираем первое, так как у любого блюда, уникальная цена
                    } else {//Иначе возвращаем целый объект цены
                        priceActualFood = Enumerable.From(food.Price).Where(function (price) { //У блюда несколько цен, перечисляем их
                            return price.Id == food.PriceWidthsKey;
                        }) //Находим блюдо, у которого цена == цене выбранного блюда
                           .ToArray()[0]; //Создаем список цен и выбираем первое, так как у любого блюда, уникальная цена
                        return priceActualFood;
                    }

                    if ($scope.isDiscount) { //Если у категории блюда есть скидка
                        priceActualFood -= ((priceActualFood * food.DiscountSize) / 100);
                    }
                    food.PriceDiscount = priceActualFood;
                    return numberCrop(priceActualFood, 0);
                    //   }
                    return;
                };

                $scope.orderClear = function () {
                    //var removedOrder = Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id && ord.Clone == true });
                    var removEls = [];
                    Enumerable.From(order).ForEach(function (ord) {
                        if (typeof ord.table != "undefined" && ord.table == $scope.table.Id && ord.Clone == true) {
                            removEls.push(order.indexOf(ord));
                        }
                    });//Находим блюда текущего стола и которые являются клонами. Заполняем массив индексами, которые нужно удалить
                    for (var i=0; i<removEls.length; i++) {
                        order.splice(removEls[i], 1);//Удаляем
                        for (var j = 0; j < removEls.length; j++) {
                            removEls[j]--;//Уменьшаем индексы, так как элементы удаляются и следующие смещаются назад
                        }
                    }
                    

                    Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).ForEach("$.Number=0, $.PriceSelected=0, $.PriceDiscount=0");
                    
                    $scope.RefreshorderSum();
                };

                $scope.RefreshorderSum = function () {
                    //   $scope.isDiscount = !$scope.isDiscount;
                    $scope.orderSum = numberCrop(Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where(function (foodEl) { return foodEl.Number > 0 }).Select("$.PriceDiscount * $.Number").Sum(), 0);
                    Enumerable.From(order).ForEach(function (ord) { ord.Discount = $scope.isDiscount });
                };

                $scope.getCloneFoods = function () {
                    if (typeof order !== "undefined" && order.length > 0) {
                        return Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where("$.Clone==true").ToArray();
                    }
                }

                $scope.foodCategorySum = function (category) {
                    if (typeof $scope.table != "undefined") {
                        return Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == $scope.table.Id }).Where(function (ord) { return typeof ord.Category !== "undefined" && ord.Category.Id === category.Id && ord.Clone === true }).Where("$.Number>0").Select("$.Number").Sum();
                    }
                    return 0;
                };

                $scope.orderLength = function () {
                    return order.length;
                };

            $scope.numDown = function(food) {
                if (food.PriceWidthsKey != null && typeof food.PriceWidthsKey != "undefined" && food.Number > 0) {
                    food.table = $scope.table.Id;
                    var clone = GetFoodClone(food, $scope.PriceOfFood(food, true));
                    delete food.table;

                    if (clone == null) {
                        var temp = angular.copy(food);
                        temp.Number--;
                        temp.Clone = true;
                        temp.table = $scope.table;
                        order.push(temp);
                        //$scope.exclusionOrds.push(temp.FoodId);
                        food.Number--;
                        // refreshOrAdd(food);
                    } else {
                        clone.Number--; 
                        clone.Clone = true;
                        clone.table = $scope.table.Id;
                        // order.push(clone);
                        //$scope.exclusionOrds.push(temp.FoodId);
                        if (food.Number > 0)
                            food.Number--;
                        else {
                            var index = order.indexOf(food);
                            if (index > -1) {
                                order.splice(index, 1);
                            }
                        }
                            
                    }
                }
            };

                    ///Извлекает из списка копию блюда
                    function GetFoodClone(food, price) {
                        if (typeof food.table == "") {
                            return null;
                        }
                        var result = Enumerable.From(order).Where(function (ord) { return typeof ord.table != "undefined" && ord.table == food.table && ord.Clone && ord.FoodId === food.FoodId && ord.PriceWidthsKey == price.Id }).ToArray();
                        if (result.length > 0) {
                            return result[0];
                        } else {
                            return null;
                        }
                    }
                    
                    $scope.GetDDValue = function(id, flag) {
                        if (flag) {
                            return;
                        } else {
                            return id;
                        }
                    }
                    $scope.fodsFromCategory = function (category) {
                        var foods = Enumerable.From(order).Where(function (ord) { return ord.FoodId!=-1 && ord.Category.Id == category.Id && (typeof ord.table === "undefined" || ord.table == $scope.table.Id) && ord.Clone == false }).ToArray();//Получаем все орегинальные блюда
                        if (foods.length <= 0) {
                            return;
                        }
                        var clones = Enumerable.From($scope.getCloneFoods()).Where(function (ord) { return ord.FoodId != -1 && ord.Category.Id == category.Id }).ToArray();
                            
                        if (clones.length > 0) {
                            foods.forEach(function(item, i, arr) {
                                var cloneFood = Enumerable.From(clones).Where(function (ord) { return ord.FoodId == item.FoodId && ord.PriceWidthsKey == item.PriceWidthsKey }).ToArray()[0];
                                if (typeof cloneFood !== "undefined") {
                                item.Number = cloneFood.Number;
                                }
                            });
                        } else {
                            foods.forEach(function (item, i, arr) {
                                item.Number = 0;
                              //  item.PriceWidthsKey = null;
                            });
                        }

                        return foods;
                    };

                    $scope.numUp = function (food) {
                        if (food.PriceWidthsKey != null && typeof food.PriceWidthsKey != "undefined" && food.Number < 50) {
                            food.table = $scope.table.Id;
                            var clone = GetFoodClone(food, $scope.PriceOfFood(food, true));
                            delete food.table;

                            if (clone == null) {
                                var temp = angular.copy(food);
                                temp.Number++;
                                temp.Clone = true;
                                temp.table = $scope.table.Id;
                                order.push(temp);
                                //$scope.exclusionOrds.push(temp.FoodId);
                                food.Number++;
                                // refreshOrAdd(food);
                            } else {
                                clone.Number++;
                                clone.Clone = true;
                                clone.table = $scope.table.Id;
                                // order.push(clone);
                                //$scope.exclusionOrds.push(temp.FoodId);
                                if(food.FoodId!=-1)
                                food.Number++;
                            }
                        }
                        //if (food.PriceWidthsKey != null && food.Number < 50 && food.FoodId != null) {
                        //    if (food.table == $scope.table.Id) {
                        //        food.Number++;
                        //        food.table = $scope.table.Id;
                        //        refreshOrAdd(food);
                        //    } else
                        //        if (typeof food.table === "undefined") {
                        //            var temp = angular.copy(food);
                        //            temp.FoodTitle = "clup";
                        //            // food.Clone = true;
                        //            //temp.table = $scope.table;
                        //            order.push(temp);
                        //            // temp.Clone = true;
                        //            $scope.exclusionOrds.push(temp.FoodId);
                        //            food.Number++;
                        //           // food.table = $scope.table.Id;
                        //            refreshOrAdd(food);
                        //        } else {
                        //            if (typeof food.table !== "undefined" && food.table != $scope.table.Id) {
                        //                var tCopy = angular.copy(food); //Делаем копию для другого стола
                        //                tCopy.table = $scope.table.Id;
                        //                tCopy.Number++;
                        //                order.push(tCopy);
                        //                refreshOrAdd(food);
                        //            }
                        //        }
                        //}

                    };

                    $scope.DropDownChice = function (price, food)
                    {   
                        food.table = $scope.table.Id;
                        var eqObj = GetFoodClone(food, price);//Находим блюда, которые имеют выделенную цену //Ищет блюдо, которое было скопировано для определенного стола
                        delete food.table;

                        if (eqObj!=null) {
                            //var i = Enumerable.From(order).Where("$.Clone==false").Select("$.FoodId").IndexOf(food.FoodId);
                            food.PriceWidthsKey = eqObj.PriceWidthsKey;//Назначаем цену, в любом случае отобран 1
                            food.Number = eqObj.Number;
                        } else if (eqObj==null) { //Если нет копий этого блюда с данной ценой (так как у блюда одна текущая цена, то выбирая цену блюда, ему назначается выбранная как текущая)
                            var cloneFood = angular.copy(food); //Если у блюда уже есть цена
                            cloneFood.PriceWidthsKey = price.Id; //Создаем его копию с новой ценой
                            cloneFood.Number = 0;
                            cloneFood.Clone = true;
                            cloneFood.table = $scope.table.Id;

                            order.push(cloneFood);
                            //food.table = $scope.table.Id;
                            food.PriceWidthsKey = price.Id;
                            food.Number = 0;

                        }
                    };

                });
    </script>
</body>

</html> 