﻿.backCover {
    background: url(/Images/Const/1.jpg) no-repeat center center fixed;
     background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
}