﻿@model ProjectAmur.Models.Food

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <div>
        @Html.ActionLink( "Изменить", "Edit", new { id = Model.Id } ) |
        @Html.ActionLink( "Назад к списку блюд", "Index" )
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor( model => model.ImagePath )
        </dt>
        @{
            if (@Model.ImagePath != "")
            {
                <dd width="10%" height="10%" valign="top" style="overflow: auto;">

                    <img src="@Model.ImagePath" alt="" class="iconimage" />
                    @*@Html.DisplayFor( model => model.ImagePath )*@
                </dd>
            }
        }

    </dl>
</div>

