﻿@using System.Linq
@model System.Collections.Generic.List<ProjectAmur.Models.WorkingDay>

<table class="table">
    <thead>
        <tr>
            <th>Начало смены</th>@*@Html.DisplayNameFor(el => el.First().Food.Title)</th>*@
            <th>Конец смены</th>@*@Html.DisplayNameFor(el => el.First().PriceSelectedWidth.PriceSelected)</th>*@
            @*<th>@Html.DisplayNameFor(el => el.First().PriceSelectedWidth.Width)</th>
                <th>@Html.DisplayNameFor(el => el.First().Number)</th>
                <th>@Html.DisplayNameFor(el => el.First().Table.Title)</th>*@
            <th>@Html.DisplayNameFor(el => el.First().Employee.Name)</th>
            <th>Выручка</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var item1 = item;
            <tr>
                <td>@Html.DisplayFor(el => item1.OpeningDay)</td>
                <td>
                    @Html.DisplayFor(el => item1.ClosingDay)
                </td>
                <td>@Html.DisplayFor(el => item1.Employee.Name) @Html.DisplayFor(el => item1.Employee.SurName)</td>
                <td>@Html.DisplayFor(el => item1.Income)</td>
            </tr>
        }
    </tbody>
</table>
