﻿@using System.Linq
@model System.Collections.Generic.List<ProjectAmur.Models.Invoice>

<table class="table">
    <thead>
        <tr>
            <th data-field="id">@Html.DisplayNameFor(el => el.First().Food.Title)</th>
            <th>@Html.DisplayNameFor(el => el.First().Number)</th>
            <th>Сумма</th>
            @*<th>@Html.DisplayNameFor(el => el.First().IdInvoice) </th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(el => item.Food.Title)</td>
                <td>@Html.DisplayFor(el => item.Number)</td>
                <td>@Html.DisplayFor(el => item.PriceWidth.Price)</td>
                @*<td>@Html.DisplayFor(el => item.IdInvoice)</td>*@
            </tr>
        }
    </tbody>
</table>