﻿@using Microsoft.AspNet.Identity.EntityFramework
<br/>
 
    <a class="ui primary button" href="/Account/Register">Создать нового администратора</a> 
    <a class="ui primary button" href="/Manage/CreateWaiter">Создать нового официанта</a> 
 <hr/>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<script src="~/Scripts/linq.min.js"></script>

<div ng-app="app" ng-controller="MainCtrl">
    <div id="grid1" ui-grid="gridOptions" ui-grid-grouping class="grid"></div>
</div>

<script>
    var app = angular.module('app', ['ngAnimate', 'ngTouch', 'ui.grid', 'ui.grid.grouping']);

    app.controller('MainCtrl', ['$scope', '$http', '$interval', 'uiGridGroupingConstants', function ($scope, $http, $interval, uiGridGroupingConstants) {

        $scope.gridOptions = {
            columnDefs: [
              { field: 'Имя', displayName: 'Имя' },
              { field: 'Фамилия', displayName: 'Фамилия' },
                   { field: 'Почта', displayName: 'Почта' },
                { name: 'edit', displayName: '', cellTemplate: '<a href="ChangePassword/{{grid.getCellValue(row, col)}}">Изменить пароль</a> ' },
                 { name: 'delete', displayName: '', cellTemplate: '<a href="DeleteUser/{{grid.getCellValue(row, col)}}">Удалить</a> ' }
            ]
        };
        $scope.f = "sdfsdf";
        $scope.myData = [];
        $http({
            url: '/api/AdminApi/GetUsers',
            method: "GET"
        }).success(function (data) { //Подулючаемся
            Enumerable.From(data).ForEach(function (el) {
                $scope.myData.push(
                    {
                        "Имя": el.Name,
                        "Фамилия": el.SurName,
                        "Почта": el.Email,
                        "edit": el.Id,
                        "delete": el.Id
                    }
                );
            });

            $scope.gridOptions.data = $scope.myData;
        });

    }]);
</script>