﻿@model ProjectAmur.Models.Table

@{
    ViewBag.Title = "Create";
}

<h2>Создать</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="ui raised very padded text container segment">


        <table class="ui very basic collapsing celled table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Discription, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="ui input">
                            @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @*</div>*@


        <a href="/../Tables/index" class="negative ui button"><i class="mdi-content-reply left"></i>Отмена</a>
            <input type="submit" value="Создать" class="positive ui button">
    </div>
}
 