﻿<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<script src="~/Scripts/linq.min.js"></script>


<div ng-app="app" ng-controller="MainCtrl">
    <a class="ui primary button" href="/Tables/Create">Создать</a>
    <hr />
    <div id="grid1" ui-grid="gridOptions" ui-grid-grouping class="grid"></div>
</div>
<script>
    var app = angular.module('app', ['ngAnimate', 'ngTouch', 'ui.grid', 'ui.grid.grouping']);

    app.controller('MainCtrl', ['$scope', '$http', '$interval', 'uiGridGroupingConstants', function ($scope, $http, $interval, uiGridGroupingConstants) {

        $scope.gridOptions = {
            columnDefs: [
              { field: 'НазваниеСтола', displayName: 'Название стола' },
              { field: 'Описание', displayName: 'Описание' },
                { name: 'edit', displayName: '', cellTemplate: '<a href="Edit/{{grid.getCellValue(row, col)}}">Изменить</a> ' },
                 { name: 'delete', displayName: '', cellTemplate: '<a href="Delete/{{grid.getCellValue(row, col)}}">Удалить</a> ' }
            ]
        };
        $scope.myData = [];
        $http({
            url: '/api/AdminApi/GetTables',
            method: "GET"
        }).success(function (data) { //Подулючаемся
            Enumerable.From(data).ForEach(function (el) {
                $scope.myData.push(
                    {
                        "НазваниеСтола": el.Title,
                        "Описание": el.Discription,
                        "edit": el.Id,
                        "delete": el.Id
                    }
                );
            });

            $scope.gridOptions.data = $scope.myData;
        });

    }]);
</script>